@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --light_blue: #99d7ff;
  --dark_blue: #114b8b;
  --black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", serif;
}
body {
  background: linear-gradient(45deg, var(--dark_blue), var(--light_blue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2.5rem;
}

html {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
}

label {
  display: inline-block;
  width: 90%;
}

select,
input {
  padding: 0.625rem;
  margin: 0.5rem 0;
  width: 100%;
  height: 3.125rem;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem 0.0625rem black;
  background: linear-gradient(315deg, var(--dark_blue), var(--light_blue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  margin: 0.5rem;
  width: 90%;
  height: 3.125rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem 0.0625rem var(--black);
  background: linear-gradient(315deg, var(--dark_blue), var(--light_blue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

option {
  font-size: 1rem;
  background-color: #99d7ff;
}

::placeholder {
  color: var(--black);
}

.hidden_inicial {
  display: none;
}

.formulario__date::before {
  content: "fecha";
  display: flex;
}
