@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --light_blue: #99d7ff;
  --dark_blue: #114b8b;
  --black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", serif;
}
body {
  background: linear-gradient(45deg, var(--dark_blue), var(--light_blue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2.5rem;
}

html {
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem 0.0625rem black;
}

select,
input {
  display: flex;
  width: 80%;
  height: 3.125rem;
  margin: 0.5rem auto;
  padding: 0 0 0 0.25rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem 0.0625rem black;
  background: linear-gradient(315deg, var(--dark_blue), var(--light_blue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  width: 80%;
  height: 3.125rem;
  margin: 1.6rem auto 0.5rem auto;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem 0.0625rem var(--black);
  background: linear-gradient(315deg, var(--dark_blue), var(--light_blue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

label {
  padding: 0 0 0 10%;
}

h1 {
  text-align: center;
  margin: 0.5rem;
}

::placeholder {
  color: var(--black);
}

.hidden_inicial {
  display: none;
}
